.movimento-direita {
  animation: moveRight 4s alternate infinite ease-in-out;
}

.movimento-esquerda {
  animation: moveLeft 4s alternate infinite ease-in-out;
}

.nome-mateus {
  color: #DFD080;
}

.fundo {
    font-size: 200px;
    letter-spacing: 30px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 2s ease-out, transform 2s ease-out;
    position: relative;
    margin: -30px;
    font-weight: bold;
  }

  .fundo {
    white-space: nowrap;
    animation: moveRight 5s linear infinite;
  }

  .fundo.left {
    animation-name: moveLeft;
  }
  body {
    overflow-x: hidden;
    overflow-y: auto;
  }
  @keyframes moveRight {
    0% {
      left: -100%;
    }
    100% {
      left: 100%;
    }

    to {
      transform: translateX(50%);
      opacity: 1;
  }
  }

  @keyframes moveLeft {
    0% {
      right: -100%;
    }
    100% {
      right: 100%;
    }
    to {
      transform: translateX(-50%);
      opacity: 1;
  }
  }