.card-container {
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
    flex-wrap: wrap;
}

.card {
    width: 200px;
    height: 300px;
    position: relative;
    perspective: 800px;
    margin-right: 10px;
    transition: background-color 0.3s ease;
    animation: slideUp 0.5s ease-in-out forwards;
    opacity: 0;
    margin-bottom: 20px;
    flex: 1 1 250px;
}

.card h2, p, button {
    margin: 0;
}

.card h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    margin-left: 12px;
}

.card p {
    font-size: 1em;
    margin-bottom: 15px;
    margin-left: 15px;    
}

.conjunto{
    display: flex;
    gap: 3px;
}

.card i{
    border: 2px solid #8281F6;
    border-radius: 5px;
    margin-bottom: 5px;
    font-weight: 500;
}

.card button {
    padding: 10px 20px;
    background-color: var(--primary-dark);
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
}

.card button:hover {
    color: #fff;
    box-shadow: 0 0 20px var(--primary-dark);
    transition: all .3s ease-in-out;
}

.box1 { animation-delay: 0.5s; }
.box2 { animation-delay: 1s; }
.box3 { animation-delay: 1.5s; }
.box4 { animation-delay: 2.0s; }
.box5 { animation-delay: 2.5s; }

.front, .back{
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transition: all 1s;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-direction: column;
}

.front{
    background-color: var(--primary-color);
    color: #fff;
}

.back{
    background-color: var(--primary-color);
    transform: rotateY(-180deg);
}

.card:hover .front{
    transform: rotateY(180deg);
}

.card:hover .back{
    transform: rotateY(0);
}

.projects-container h2{
    font-size: 2.5rem;
    font-weight: 600;
    opacity: 0;
    animation: leftSideAni 1s ease forwards;
    animation-delay: 1s;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}
.projects-section{
    margin-top: 6.5rem;
}