#projects {
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}

#projects h1 {
    color: white;
    position: absolute;
    top: 0;
}

#projects div {
    border: 1px solid white;
    margin-top: 40px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

#projects a{
    width: 10px;
    margin: 10px;
}

a {
    color: white;
    text-decoration: none;
  }