h1 {
  height: 11vh; 
  margin-top: 0.5em;
  margin-bottom: 0.5em; 
  margin-left: -4vw;
  width: 8em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3em; 
}


@media (max-width: 600px) {
  h1 {
      height: 7vh;
      margin-top: 0.3em;
      margin-bottom: 0.3em;
      margin-left: -1vw;
      width: 6em;
      font-size: 2em;
  }
}

#geral{
  display: flex;
  flex-direction: column;
}
  #Informacoes {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

@media only screen and (max-width: 600px) {
  #Informacoes {
      width: 80%;
      display: grid;
  }
}
.text {
  margin-top: 10px;
  margin-left: 30px;
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  .text {
      margin-top: 5px;
      margin-left: 15px;
      margin-bottom: 5px;
  }
}


 img {
    max-width: 100%;
    height: auto;
    margin-bottom: 300px;
  }
  
  @media (max-width: 600px) {
    img {
      max-width: 60%;
      height: auto;
      margin: 3px 3px 60px 65px;
    }
}

.SOFTWARE {
  font-weight: bold;
  background-color: rgb(137, 95, 229);
  padding: 5px;
  border-radius: 25px;
  display: inline-block;
  margin-bottom: 10px;
  width: 30%;
  padding-left: 20px;
  padding-right: 10px;
}


/* Media query para ajustes em telas menores */
@media (max-width: 600px) {
  .SOFTWARE {
      width: auto;
      margin-bottom: 5px;
  }
}

  .content {
    height: 96vh;
    width: 70vw;
    padding: 1rem;
    box-shadow: 0px 0px 15px black;
}

@media only screen and (max-width: 768px) {
  .content {
      /* Add styles for smaller screens here */
      width: 76vw;
  }
}

@media only screen and (max-width: 480px) {
  .content {
      /* Add styles for even smaller screens here */
      width: 76vw;
  }
}

  .texts{
    margin-left: 1px;
    font-weight: bold;
    font-size: 25px;
  }

  @media only screen and (max-width: 480px) {
    .texts{
      margin-left: 4px;
      font-weight: bold;
      font-size: 15px;
    }
  }

  .work {
    margin-top: 50px;
    margin-left: -5px;
    margin-right: 150px;
    cursor: pointer;
    padding: 0px;
    background-color: white;
    text-align: center;
    border: 2px solid black;
    box-shadow: 8px 7px 0px 0px #000000;
  }
.work h2::after {
  
  content: "\1F817";
  margin-left: 10px; 
  color: #F57E00; 
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 900;
  position: relative;
  animation: moveDown 1s infinite;
}

@media screen and (max-width: 600px) {
  .work {
    margin: 2% auto;
    padding: -0.75em;
    font-size: 0.8em;
    margin-left: 2px;
    margin-right: 125px;
  }

  .work h2::after {
    margin-left: 0.3125em;
  }
}

  @keyframes moveDown {
    0%, 100% {
        top: 0;
    }
    50% {
        top: 10px;
    }
}
.aaaaaa{
  font-size: 52px;
}

.bbbbb{
  font-size: 25px;
}

@media screen and (max-width: 600px) {
  .aaaaaa {
    font-size: 1.7em;
  }

  .bbbbb {
    font-size: 1.25em;
  }
}