/* Estilos adicionais para movimento direita */
.movimento-direita {
    transform: translateY(0) translateX(100px);
}

/* Estilos adicionais para movimento esquerda */
.movimento-esquerda {
    transform: translateY(0) translateX(-100px);
}


.fundo {
    font-size: 150px;
    letter-spacing: 80px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 2s ease-out, transform 2s ease-out;
    position: relative;
  }
  